#menuProduct{
    position: relative;
}
#menuProduct:hover .contNav-menuProduc{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(245, 246, 247);
    border-bottom: 1px solid rgb(219, 219, 219);
    position: absolute;
    top: 100%;
    left: 0%;
    border-radius: 0px 0px 5px 5px;
    animation: aniMenu 0.2s ease-in;
}
.contNav-menuProduc{
    display: none;
}
.contNav-menuProduc .menuProduct-body{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: flex-start;
}
.contNav-menuProduc .menuProduct-body .btn{
    width: 100%;
    height: 40px;
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
@keyframes aniMenu {
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}